<div class="dropDown {{ classes }}">
    <ul class="dropDown__list">
        <li class="dropDown__item dropDown__item--addUser">
            {{{ buttonAdd }}}
            <div class="dropDown__item-text">{{ addUser }}</div>
        </li>
        <li class="dropDown__item dropDown__item--delUser">
            {{{ buttonDel }}}
            <div class="dropDown__item-text">{{ delUser }}</div>
        </li>
        <li class="dropDown__item dropDown__item--addPhoto">
            {{{ buttonPhoto }}}
            <div class="dropDown__item-text">{{ photo }}</div>
        </li>
        <li class="dropDown__item dropDown__item--addFile">
            {{{ buttonFile }}}
            <div class="dropDown__item-text">{{ file }}</div>
        </li>
        <li class="dropDown__item dropDown__item--addLocation">
            {{{ buttonLocation }}}
            <div class="dropDown__item-text">{{ location }}</div>
        </li>
    </ul>
</div>
