<div class="userSettings main">
    {{{ avatar }}}
    <ul class="userSettings__fields">
        <li>{{{ inputEmail }}}</li>
        <li>{{{ inputLogin }}}</li>
        <li>{{{ inputName }}}</li>
        <li>{{{ inputSurname }}}</li>
        <li>{{{ inputNikName }}}</li>
        <li>{{{ inputPhone }}}</li>
    </ul>
    <ul class="userSettings__fields">
        <li class="userSettings__field-link">{{{ linkData }}}</li>
        <li class="userSettings__field-link">{{{ linkPassword }}}</li>
        <li class="userSettings__field-link">{{{ linkExit }}}</li>
    </ul>
</div>
