<div class="input__wrapper">
    <label for={{ name }}>{{ labelValue }}</label>
    <input type={{ type }} name={{ name }} class={{ classes }} placeholder="{{ placeholder }}">
    <span class="input__error">{{ errorValue }}</span>
</div>