<div class="chat">
    <div class="chat__image">
        <img src="{{ chatImage }}" alt={{ chatAlt }}>
    </div>
    <div class="chat__dialog">
        <h3 class="chat__dialog-title">{{ dialogTitle }}</h3>
        <div class="chat__dialog-description">
            {{#if dialogSubText}}
                <span class="chat__dialog-subText">{{ dialogSubText }}</span>
            {{/if}}
            <p class="chat__dialog-text">{{ dialogText }}</p>
        </div>
        <div class="chat__dialog-id">{{ id }}</div>
    </div>
    <div class="chat__info">
        <time class="chat__info-time">{{ infoTime }}</time>
        <span class="chat__info-countIcon">{{ infoCountIcon }}</span>
    </div>
</div>
