<div class="chat">
    <div class="chat__image">
        <img src="{{ chatImage }}" alt={{ chatAlt }}>
    </div>
    <div class="chat__dialog">
        <h3 class="chat__dialog-title">{{ dialogTitle }}</h3>
        <div class="chat__dialog-description">
            <span class="chat__dialog-subText">{{ dialogSubText }}</span>
            <p class="chat__dialog-text">{{ dialogText }}</p>
        </div>
    </div>
    <div class="chat__info">
        <span class="chat__info-time">{{ infoTime }}</span>
        <span class="chat__info-countIcon">{{ infoCountIcon }}</span>
    </div>
</div>
