<div class="page-authorization">
    <div class="form-authorization__wrapper">
        <h2 class="form-authorization__title">{{ title }}</h2>
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <ul class="form-authorization__fields"></ulclass>
                <li>{{{ inputLogin }}}</li>
                <li>{{{ inputPassword }}}</li>
            </ul>
            <ul class="form-authorization__buttons">
                <li>{{{ buttonAuthorize }}}</li>
                <li>{{{ buttonAccountEmpty }}}</li>
            </ul>
        </form>
    </div>
</div>
