<div class="chatPage">
    <ul class="chatPage__wrapper">
        <li class="chatPage__left">{{{ chatList }}}</li>
        <li class="chatPage__right">
            <div class="chatPage__right-wrapper">
                {{{ chatInfo }}}
                {{{ chatContent }}}
                {{{ chatInput }}}
            </div>
        </li>
    </ul>
    <div class="chatPage_popup">{{{ popup }}}</div>
</div>
