<div class="page-registration">
    <div class="form-registration__wrapper">
        <h2 class="form-registration__title">{{ title }}</h2>
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <ul class="form-registration__fields">
                <li>{{{ inputEmail }}}</li>
                <li>{{{ inputLogin }}}</li>
                <li>{{{ inputName }}}</li>
                <li>{{{ inputSurname }}}</li>
                <li>{{{ inputPhone }}}</li>
                <li>{{{ inputPassword }}}</li>
                <li>{{{ inputPasswordRepeat }}}</li>
            </ul>
            <ul class="form-registration__buttons">
                <li>{{{ buttonAuthorize }}}</li>
                <li>{{{ buttonAccountEmpty }}}</li>
            </ul>
        </form>
    </div>
</div>
