<form method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="userSettings">
        {{{ avatar }}}
        <ul class="userSettings__fields">
            <li>{{{ inputEmail }}}</li>
            <li>{{{ inputLogin }}}</li>
            <li>{{{ inputName }}}</li>
            <li>{{{ inputSurname }}}</li>
            <li>{{{ inputNikName }}}</li>
            <li>{{{ inputPhone }}}</li>
        </ul>
        {{{ buttonSave }}}
    </div>
</form>
