<h2 class="page__title">{{ pageIndex }}</h2>

<ul class="pages__list">
    <li class="pages__item">
        <a class="pages__item-link link-1">{{ ItemPage404 }}</a>
    </li>
    <li class="pages__item">
        <a class="pages__item-link link-2">{{ itemPage500 }}</a>
    </li>
    <li class="pages__item">
        <a class="pages__item-link link-3">{{ itemPageAuthorization }}</a>
    </li>
    <li class="pages__item">
        <a class="pages__item-link link-4">{{ itemPageUserSettings }}</a>
    </li>
</ul>