<form method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="userSettings">
        <div class="userSettings__aside">
            {{{ buttonGoToSettings }}}
        </div>
        {{{ avatar }}}
        <ul class="userSettings__fields">
            <li>{{{ inputPassword }}}</li>
            <li>{{{ inputPasswordNew }}}</li>
            <li>{{{ inputPasswordRepeat }}}</li>
        </ul>
        {{{ buttonSave }}}
    </div>
</form>
