<div class="chat-info">
    <div class="chat-info__person">
        <div class="chat-info__person-image">
            <img src="{{ url }}" alt={{ alt }}>
        </div>
        <span class="chat-info__description">{{ name }}</span>
    </div>
    <div class="chat-info__menu-wrapper">
        {{{ buttonInfo }}}
    </div>
    <div class="drop-down__wrapper">
        {{{ dropDown }}}
    </div>
</div>
